/* Our Colors */
:root {
  --fpl-purple: #37003c;
  --fpl-green: #00ff87;
}

a {
  text-decoration: none;
}

main {
  text-align: center;
  font-family: "Lexend";
}

/* Header Component */
header {
  padding: 10px 140px;
  background-color: var(--fpl-purple);
  margin: 0 0 10px 0;
}

header h1 {
  text-align: center;
  color: var(--fpl-green);
  font-family: "Bebas Neue";
  font-size: 7em
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Bebas Neue";
  font-size: 1.1em;
}

header nav a {
  color: white;
}

header nav a:hover {
  color: var(--fpl-green);
}

header nav a:focus {
  color: var(--fpl-green);
}

.logo-title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.logo {
  margin-right: 35px;
  margin-bottom: 15px;
  height: 8em;
  width: 6.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer Component */
footer {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  padding: 30px 0px;
  margin: 10px 0 0 0;
}

/* Homepage */

.table-data {
  width: 80%;
  border-collapse: collapse;
  border-style: solid;
  border-color: var(--fpl-purple);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Lexend";
}

.table-data tr:nth-child(even){
  background-color: #f2f2f2;
}

.table-data tr:hover {
  background-color: #ddd;
}

.table-data th {
  background-color: var(--fpl-purple);
  color: white;
}

/* Head to Head Page */
.flex-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table-item {
  width: 48%;
  margin-bottom: 2%;
}

.flex-table > h2 {
  width: 100%;
}

/* Prem Players Page */
.current-filter {
  color: var(--fpl-green);
}

.news {
  color: red;
}

/* Gameweek stats */
.fpl-link, .fpl-link:hover, .fpl-link:visited, .fpl-link:active {
  color: inherit;
  text-decoration: none;
 }

/* Season Leaders */

.card-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
.card-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 0px;
  font-family: "Lexend";
}

.team-cards {
  border: 2px solid black;
  border-radius: 5px;
  padding-inline: 10px;
  padding-bottom: 5px;
  /* height: 350px;
  width: 250px; */
  font-family: "Lexend";
  margin-right: 1em;
  text-align: center;
}

.stat-cards {
  border: 2px solid black;
  border-radius: 5px;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  /* height: 350px;
  width: 250px; */
  font-family: "Lexend";
  margin-left: 1em;
  text-align: center;
}

.team-cards:hover, .stat-cards:hover {
  background-color: var(--fpl-purple);
  color: var(--fpl-green);
}

.win {
  background-color: var(--fpl-green);
  color: black;
  border-radius: 100%;
  text-align: center;
  width: 34px;
  height: 30px;
  padding: 11px 15px 11px 15px;
  font-family: "Lexend";
}

.loss {
  background-color: red;
  color: black;
  border-radius: 100%;
  text-align: center;
  width: 34px;
  height: 34px;
  padding: 11px 15px 11px 15px;
}

/* Prem Fixtures + Fixtures */
.red-highlight {
  background-color: #FF1751;
}

.green-highlight {
  background-color: #01FC7A;
}

.grey-highlight {
  background-color: grey;
}

.yellow-highlight {
  background-color: yellow;
}

/* Aggregate Data Page */
.hide-players, .hide-alert {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lexend' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
